body {
	background: #f4f3f3;
}

.analysis-title {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	height: 200px;
	min-width: 1240px;
	max-width: 2340px;
	background: #244CBA;
	color: #fff;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 75px;
}

.analysis-box {
	margin-bottom: 5px;
}

.title-box {
	display: inline-block;
	margin-top: 70px;
}

.analysis-date {
	font-size: 30px;
}

.analysis-poster {
	align-items: center;
	display: flex;
	width: 1240px;
	margin: 0 auto;
	height: 320px;
	margin-bottom: 30px;
}

.analysis-poster div:first-child {
	margin-left: 35px;
}

.poster {
	float: left;
	position: relative;
	width: 210px;
	height: 290px;
	background: #7f8285;
	margin-right: 30px;
	filter:alpha(opacity=30); opacity:0.3; -moz-opacity:0.3;
}

.poster:hover {
	cursor: pointer;
	filter:alpha(opacity=100); opacity:1; -moz-opacity:1;
}
.analysis-poster .on{
	filter:alpha(opacity=100); opacity:1; -moz-opacity:1;
}

.analysis-partition hr:first-child {
	float: left;
}

.analysis-partition div {
	float: left;
	width: 15%;
	font-size: 20px;
	margin-top: -5px;
	font-weight: 600;
}

.analysis-partition hr:last-child {
	float: right;
}

.analysis-partition {
	vertical-align: middle;
	margin: 0 auto;
	width: 1240px;
	text-align: center;
	margin-bottom: 80px;
}
.analysis-list-first {
	width: 1240px;
	height: 525px;
}

.analysis-list-second{
	margin-top: 20px;
	width: 1240px;
	height: 525px;
}
.analysis-list {
	width: 1240px;
	margin: 0 auto;
	height: 1500px;
}

.analysis-list-top {
	height: 260px;
	margin-bottom: 10px;
}

.analysis-list-top .analysis-list-box {
	float: left;
	margin-right: 20px;
}
.analysis-list-top div:last-child{
	margin-right: 0;
}
.analysis-list-box {
	text-align:center;
	width: 400px;
	height: 250px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.analysis-left{
	float: left;
}
.analysis-list-middle-box {
	width: 820px;
	height: 520px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.analysis-right{
	float: right;	
}
.analysis-list-bottom-box {
	width: 400px;
	height: 250px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	margin-bottom: 20px;
}
.analysis-list-middle-box:hover, .analysis-list-box:hover,
	.analysis-list-bottom-box:hover, .analysis-list-bottom-last:hover {
	background: #fff;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 10px 10px
		rgba(0, 0, 0, 0.11);
}

.analysis-list-bottom-last {
	width: 100%;
	height: 200px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	clear: both;
}

.box-detail h4 {
	border-bottom: 1px solid #7f8285;
	font-size: 14px;
	color: #282828;
	padding: 10px 15px;
}

.panel-body {
	font-weight: 1000;
	color: #282828;
	background-color: white;
	margin: 0;
	padding: 0;
}
.analysis-list-box .panel-body{
	width: 360px;
	height: 200px;
}
.analysis-list-top .panel-body{
	clear: both;
	width: 400px;
}
.middle{
	width: 100%;
	height: 200px;
	margin-top: -12px;
}
.mini-title{
	font-size: 12px;
	margin-bottom: 10px;
}
.panel-heading {
	font-size: 14px;
	color: #282828;
	font-weight: 700;
	padding: 10px;
	border-bottom: 1px solid transparent;
}
.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
}
.panel-default {
	border-color: #ddd;
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #f5f5f5;
	border-color: #ddd;
}
.graph-style{
	padding-top: 35px;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #ddd;
}

.panel-default>.panel-heading .badge {
	color: #f5f5f5;
	background-color: #333;
}
.body-left{
	width: 50%;
	height: 200px;
	float: left;
	padding-top: 25px;
	text-align: center;
}
.body-right{
	float:left;
	width: 50%;
	height: 200px;
	padding-top: 25px;
	text-align: center;
}
.panel-body ul{
	margin: 0 auto;
	padding: 0;
}
.person-rating .salesChange{
	font-size: 12px;
}
.analysis-list ul li{
	line-height: 1.5em;
	margin-left: -20px;
	list-style: none;
}

.person, .sale{
	font-size: 22px;
}
.audiInten, .audiAcc{
	font-size: 22px;
}
.analysis-list ul{
	list-style: none;
}
.star{
	height: 200px;
}
.star img{
	width: 250px;
}
.star .star_before{
	margin: 80px 0 0 80px;
}
.star .star_after{
	margin: -33px 0 0 80px;
}
