body{
    color: #282828;
    vertical-align: baseline;
    font-size: 12px;
}

a {
  text-decoration: none;
}

.recommend_container {
    width: 100%;
    height: auto;
    min-width: 1240px;
    min-height: 550px;
}

.recommend_content{
    margin: 50px auto 30px auto;
    height: 100%;
}

.h2div{
    margin-bottom: 40px;
}

.recommend-title-h2{
    font-size: 32px;
    color: #282828;
    font-weight: 700;
    width: 1240px;
}

.recommend-list-wrap{
    position: relative;
    width: 1240px;
    margin: 0 auto;
}

.thumb-movie{
    width: 200px;
    height: 300px;
    float: left;
    margin-right: 55px;
}

.recommend-list .thumb-movie:last-child{
    margin-right: 0;
}

.recommend-movie-1 {
    /* height: auto; */
    width: 100%;
    margin: 150px auto 0 auto;
}

.recommend-wrap{
    width: 1240px;
    margin: 0 auto;
    position: relative;
}

.thumb-image{
    width: 200px;
    height: 290px;
    margin-right: 8px;
    margin-bottom: 10px;
}
.thumb-image1{
    width: 100%;
    min-height: 100%;
}
.ico-grade  .grade-15{
    background-position: -72px 0;
}
.ico-grade{
    display: block;
    position: absolute;
    /* left: 5px; */
    margin-left: 5px;
    top: 5px;
    width: 34px;
    height: 34px;
    background: url("https://blogfiles.pstatic.net/MjAxODA2MjdfMjMy/MDAxNTMwMDYwOTk0MTI1.UXBr83w8HZBtmeqbIhr4zlYnMdyN7ZLUlTBBwj0WlM4g.CG749OeQroNmZCqsbRMr9zvkuPyQ--CsKaHN23Rg3xAg.PNG.victorym91/test.png") no-repeat ;
    font: 0/0 a;
    zoom: 1;
}
.thumb-movie .thumb-image .sub-title{
    display: inline-block;
    word-break: break-all;
    margin-top: 10px;
    width: 200px;
    height: 50px;
}
.sub-title-left{
    float: left;
    width: 30px;
    margin-right: 10px;
    height: 30px;
    margin: 5px 0 0 0;
    font-size: 24px ;
    color : #282828;
}
.sub-title-right{
    height: 60px;
    display: block;
    width: 170px;
    float: left;
    margin: 5px 0 0 0;
    text-align: left;
    line-height: 1.6;
    vertical-align: middle;
    font-size: 16px;
    word-break: keep-all;
    color : #282828;
}

.multiwindow-wrap .multi-title{
    width: 300px;
    position: relative;
    top: 80px;
    font-family: 'NanumSquare', sans-serif;
    word-break: break-all;
    margin: 0 auto 4px;
    padding-left: 20px;
    float: left;
    color : #fff;
}

.multi-title > h2{
    font-size: 32px;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 400;
    text-align: left;
    margin: 5px 0px 5px;
}
.multi-title-p{
    margin-top: 20px;
    font-family: 'NanumSquare', sans-serif;
    font-size: 12px;
    color: #fff;
    line-height: 2em;
}

.multi-title-p1 {
    margin-top: 5px;
    font-family: 'NanumSquare', sans-serif;
    font-size: 12px;
    color: #fff;
    line-height: 2em;
}

.multi-title > p{
    text-align: left;
    height: 10px;
    font-size: 18px;
    font-weight: 300;
}

.multiwindow-wrap{
    background: #7b7b7b;
    margin-top: 80px;
    margin-bottom: 80px;
    display: block;
    width: 100%;
    height: 450px;
    max-width: 100%;
    max-height: 100%;
    min-width: 1220px;
    background-position: center;
}

.multi-wrap{
    width: 1240px;
    margin: 120px auto 0 auto;
    position: relative;
    height: 100%;
    background-image: url("https://blogfiles.pstatic.net/MjAxODA3MDdfMTk1/MDAxNTMwODkzMDQ5NDM2.2PHSgTX35c5nOD7qU2ZUG5GSfcENqYx8W7qFNk6WUAMg._A-25sEzog0rd7aqzzctMVEs7HMur873rXSWbnf5C2Qg.JPEG.victorym91/test.jpg");
    background-repeat: no-repeat;
}

.window-img-wrap{
    position: relative;
    width: 850px;
    float: right;
    top: 65px;
    overflow: hidden;
    height: 380px;
    margin: 0 auto;
}
.multiwindow-img-wrap .window-thumb-img{
    width: 200px;
    height: 80px;
    margin: 0 0;
    text-align: center;
    background-size: contain;
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
}
.multiwindow-wrap-wrapper{
    margin-right: 10px;
    float: left;
}

.window-thumb-img > p{
    font-size: 18px;
    color: #23212a;
}
