
html, body{
  font-family: 'NanumSquare', sans-serif;
  margin:0;
  padding:0;
}

div{
    display: block;
}

#container{
    height: auto;
    width: 1220px;
    position: relative;
    margin: 50px auto 120px auto;
}

.search-box{
    position: relative;
    margin: 170px auto 10px auto ;
    border-bottom: #2e4b9b solid 2px;
    top: 20px;
    width: 530px;
    height: 50px;
}

.search-box .search-window{
    display: inline-block;
    margin-top: 5px;
    width: 350px;
    height: 45px;

}
#si, #gu{
	height: 25px;
	border-radius: 5px;
}
.search-box .input-text{
    margin: 11px 0 0 9px;
    width:  300px;
    height: 30px;
    color: #282828;
    border: 0;
    font-size: 18px;
    background-color: transparent;
    outline: 0;
    font-weight: 300;
}

.search-box .sch-btn{
 position : absolute;
 top: 16px;
 right: 10px;
 background: transparent;
 font-size: 25px;
 font-weight: 200px;
 color: #2e4b9b;
 border : none;
}

input{
    cursor: text;
}

.input-text ::placeholder{
    font-family: NanumSquare;
    font-size: 18px;

    /*color: #244CBA;*/
}

.map-container{
    border: #888888 solid 1px;
    position: relative;
    margin-top: 20px;
    margin-left: 0px;
    width: 740px;
    height: 500px;
    float: left;
}

.map-container .map-section-wrap{
    position: relative;
    margin:0 auto;
    background: #666666;
    display: inline-block;
    width: 100%;
    height: 100%;
    float: left;
}

.map-section-wrap .map-section{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(/asset/images/common/map-ex.png);
}

#container .movie-info-wrap{
    /*border: #888888 solid 2px;*/
    position: relative;
    margin: 20px 0 60px 0px ;
    width: 460px;
    height: 500px;
    float: right;
    overflow: auto;
    overflow-y: scroll;
    border: #888888 solid 1px;
}

button{
    cursor: pointer;
}

.total-wrap{
    width: 100%;
    height: 500px;
    margin: 60px auto 40px auto;
}

.movie-info-wrap .movie-info{
    background: #8045dd;
    width: 95%;
    height: 150px;
    margin: 10px;
}