@import
	url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css)
	;

html, body {
	font-family: 'NanumSquare', sans-serif;
	height: 100%;
	box-sizing: border-box;
}

.multi-banner {
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0 0px;
	width: 100%;
	min-width: 1240px;
	max-width: 100%;
	overflow: hidden;
}

.multi-banner img {
	width: 0px;
	height: 0px;
}

button.slick-next {
	position: absolute;
	top: 50%;
	right: 50px;
	z-index: 1;
	width: 47px;
	height: 75px;
	background-image:
		url('https://blogfiles.pstatic.net/MjAxODA3MDNfMTMy/MDAxNTMwNjAyMTYxODYw.Di8trjqKpAzCNy2sHAGxmt4R5NyP9JC8qEEK597uWVYg.aOOTpdU20JAnTqvBFKUcHX431ATyr64r6ZW-T4Irdnkg.PNG.victorym91/left-right-arrow_%EC%82%AC%EB%B3%B8.png');
	background-size: 95px;
	margin-top: 10px;
}

button.slick-next:hover {
	position: absolute;
	top: 50%;
	right: 50px;
	z-index: 1;
	width: 47px;
	height: 75px;
	background-image:
		url('https://blogfiles.pstatic.net/MjAxODA3MDNfMjE1/MDAxNTMwNjAyMjQ3MzYz.sX1Y1YPpmpBOV0Q0E6i4vQnLqYwKAjDsY9bBcN-m1Lkg.FGp8-oddD7o1fbrux85JJ4x0E4h4eYlAWIbFJddYqD8g.PNG.victorym91/left-right-arrow_%EC%82%AC%EB%B3%B8.png');
	background-size: 95px;
}

button.slick-prev {
	position: absolute;
	top: 50%;
	left: 30px;
	z-index: 1;
	width: 47px;
	height: 75px;
	background-image:
		url("https://blogfiles.pstatic.net/MjAxODA3MDNfMTMy/MDAxNTMwNjAyMTYxODYw.Di8trjqKpAzCNy2sHAGxmt4R5NyP9JC8qEEK597uWVYg.aOOTpdU20JAnTqvBFKUcHX431ATyr64r6ZW-T4Irdnkg.PNG.victorym91/left-right-arrow_%EC%82%AC%EB%B3%B8.png");
	background-size: 95px;
	background-position-x: right;
	margin-top: 10px;
}

button.slick-prev:hover {
	position: absolute;
	top: 50%;
	left: 30px;
	z-index: 1;
	width: 47px;
	height: 75px;
	background-image:
		url("https://blogfiles.pstatic.net/MjAxODA3MDNfMjE1/MDAxNTMwNjAyMjQ3MzYz.sX1Y1YPpmpBOV0Q0E6i4vQnLqYwKAjDsY9bBcN-m1Lkg.FGp8-oddD7o1fbrux85JJ4x0E4h4eYlAWIbFJddYqD8g.PNG.victorym91/left-right-arrow_%EC%82%AC%EB%B3%B8.png");
	background-size: 95px;
	background-position-x: right;
}

.slick-prev:before, .slick-next:before {
	font-size: 70px;
	color: #EA8496;
	line-height: inherit;
	font-weight: bold;
}

.middle-banner {
	width: 1240px;
	margin: 50px auto;
	overflow: hidden;
	position: relative;
	vertical-align: top;
}

.middle-banner-title {
	margin: 0 0 20px;
}

.middle-banner-title h2 {
	font-size: 22px;
	color: #23212a;
	display: inline-block;
	margin-right: 10px;
	font-weight: 500;
}

.middle-banner-logo {
	margin-top: -20px;
}

.swiper-slide div img {
	width: 370px;
	height: 550px;
}

.middle-banner .middle-banner-logo img {
	max-width: 100%;
	height: 600px;
}

.middle-banner-logo {
	margin-bottom: 20px;
}

.boxoffice-box {
	margin-top: 2px;
	margin-right: 20px;
	width: 25%;
	height: 520px;
	overflow: hidden;
	background: #fff;
	float: left;
}

.officeTop {
	height: 140px;
	text-align: center;
	background: #23212a;
}

.boxoffice-box .officeTop h2 {
	color: #fff;
	padding: 30px 0 0;
	height: 55px;
}

.boxoffice-box .officeTop .officeTab {
	display: inline-block;
}

.boxoffice-box .officeTop .officeTab li:first-child {
	background: none;
	border-right: 1px solid #7f8285;
	margin-right: 10px;
	padding-right: 10px;
}

.officeTab {
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
}

.boxoffice-box .officeTop .officeTab li {
	display: inline-block;
	font-size: 16px;
	vertical-align: baseline;
}

.boxoffice-box .officeTop .officeTab li.on a {
	border-bottom: 1px solid #7f8285;
	padding-bottom: 3px;
}

.boxoffice-box .officeTop .officeTab li a {
	display: inline-block;
	padding-bottom: 3px;
	color: #fff;
}

.officeCont {
	padding-top:10px;
	height: 360px;
	border: 1px solid #7f8285;
}

.map-box {
	float: left;
	top: 0;
	left: 0;
	width: 46%;
	margin-right: 0px;
	margin-left: 5px;
	margin-top: 20px;
	height: 500px;
	overflow: hidden;
	background: #7f8285;
	border: 1px solid #7f8285;
}

.boxoffice-box ol {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

.boxoffice-box a {
	text-decoration: none;
}

.blind {
	overflow: hidden;
	position: absolute;
	left: -9999px !important;
	top: -9999px !important;
}

.tit {
	float: left;
	display: table;
	height: 30px;
	color: #1a1917;
	line-height: 30px;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: -0.5px;
}

.tit em {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
	padding-right: 5px;
	font-style: italic;
	font-weight: 700;
	font-size: 18px;
}

.tit .grade {
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.grade img{
	height:20px;
}

.tit .myTit {
	display: inline-block;
	width: 150px;
	height: 17px;
	line-height: 17px;
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.memRk {
	float: right;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: #666;
	font-size: 16px;
}

.officeCont .officeRk li {
	overflow: hidden;
	height: 50px;
	padding: 5px 5px 0;
	box-sizing: border-box;
}

.officeCont .officeRk li .memRk em {
	padding-left: 3px;
}

.boxoffice-box em {
	font-weight: normal;
	font-style: normal;
}

.layer_hover {
	display: none;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

.layer_hover a {
	text-decoration: none;
	color: #555;
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

.hover .layer_hover {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	padding-top: 80px;
	box-sizing: border-box;
}

.hover .layer_hover>a {
	display: block;
	margin-left: 0 15px;
	border: 1px solid #fff;
	height: 48px;
	line-height: 48px;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	text-align: center;
}

.poster-box {
	width: 350px;
	height: 507px;
	margin-top: 74px;
	margin-bottom: 74px;
	max-width: 100%;
}

.poster-box img {
	position: absolute;
}

.hover {
	width: 370px;
	height: 430px;
	background-color: rgba(0, 0, 0, .5);
	position: absolute;
	text-align: center;
	margin: auto;
}

.front-btn-wrap div {
	display: block;
}

.front a {
	border: 3px solid #fff;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
	margin-bottom: 10px;
	padding: 30px;
	/* box-shadow: 0 2px 5px rgba(0,0,0,0.26); */
	height: 80px;
	width: 300px;
	/* line-height: 24px; */
	font-weight: 500;
	text-decoration: none;
	font-size: 18px;
}

.front a:hover {
	background-color: #fff;
	color: #282828;
	font-weight: 500;
}

.location-info {
	position: relative;
	width: 370px;
	height: 60px;
	color: #fff;
	background-color: rgba(255, 255, 255, .8);
}

.location-name {
	float: right;
	width: 45%;
	height: 30px;
	color: #282828;
	margin-top: 16px;
	padding: 6px;
	/* background-color: red; */
}

.location-name .con {
	font-size: 18px;
	/* margin-left: 150px;
  margin-top : 50px; */
	padding-left: 2px;
	color: #282828;
	font-weight: 700;
}

.location-logo {
	float: left;
	width: 50%;
	height: 30px;
	margin-top: 15px;
	margin-left: 10px;
	/* background-color: blue; */
}

.location-logo .logo-wrap {
	/* background-color: black; */
	width: auto;
	height: 30px;
	text-align: center;
}

.location-logo .logo-wrap img {
	width: auto;
	height: 30px;
}

.limit-time {

	position: absolute;
	width: 370px;
	height: 60px;
	margin-top: 430px;
	color: #fff;
	background-color: rgba(0, 0, 0, .7);
}

.limit-time .detail-time {
	width: 100%;
	height: 30px;
}

.detail-time .con2 {
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	text-align: center;
	margin-top: 20px;
}
.footer-notice {
	width: 100%;
	height: 50px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
}
.footer-div{
	margin:0 auto;
	width: 1240px;
}
.footer-notice-title{
	float: left;
	font-size: 20px;
	width: 100px;
	height: 50px;
	margin: 0;
	font-weight: 700;
	border-right: 1px solid #e5e5e5;
	padding-top:13px;
}
.footer-notice-title a{
	text-decoration: none;
	color: black;
}
.rolling {
	width: 1100px;
	margin: 0 0 0 90px;
	position: relative;
	height: 50px;
	line-height: 50px;
}

.footer-notice ul li {
	vertical-align: middle;
}
.rolling li a{
	color: #888;
	font-size: 18px;
	font-weight: 500;
}

.recommand-box {
	float: right;
	top: 0;
	left: 0;
	margin-top: 20px;
	width: 25%;
	height: 500px;
	overflow: hidden;
	border: 1px solid #7f8285;
}
.plus span{
	font-size: 15px;
	color: white;
	padding-right: 50px;
}
.plus {
	padding: 5px 3px 5px 3px;
	width: 100%;
	height: 25px;
	font-size: 15px;
	font-weight: 600;
	text-align: right;
	background-color: #244CBA;
}

.plus a {
	text-decoration: none;
	color: white;
}

.inner-box {
	margin-top: 5px;
	width: 100%;
	height: 464px;
}

.first-movie {
	height: 232px;
	width: 100%;
	padding-bottom: 2px;
	border-bottom: 1px solid #7f8285;
}

.inner-poster {
	width: 168px;
	height: 100%;
	float: left;
	margin-right: 4px;
	background-color: black;
}

.inner-poster img {
	width: 168px;
	height: 230px;
}

.inner-content {
	padding-top: 50px;
	float: left;
	width: 136px;
	height: 100%;
}

.second-movie {
	padding-top: 2px;
	height: 232px;
	width: 100%;
}

.close_btn{
	border:none;
	background-color: #fff;
}

.banner{
	margin:0px;
	width: 100%;
	height: 70px;
	text-align: center;
	background-color: #234cba;
	position: fixed;
	z-index: 9999;
}
.banner:hover{
	cursor: pointer;
}
.banner_close{
	position:relative;
	z-index: 10;
	color:white;
	width: 20px;
	height: 20px;
	top: -65px;
	left: 1580px;
	display: table;
}
.banner img{
	width:1240px;
	height: 70px;
}
.banner_close img{
	width: 20px;
	height: 20px;
}
